@tailwind base;
@tailwind components;
@tailwind utilities;



.kiki {
  height: 20%;
}

@media (max-width: 640px) {
  .kiki {
    flex-direction: column;
  }
  .mobiview {
    margin-top: 20%;
  }
  .bg-white {
    padding: 16px;
  }
  .lg:h-20 {
    height: 16px;
  }
  .text-base {
    font-size: 14px;
  }
  .py-10 {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .w-full {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1280px) {
  .kiki {
    flex-direction: row;
  }
  .bg-white {
    padding: 24px;
  }
  .lg:h-20 {
    height: 20px;
  }
  .text-base {
    font-size: 16px;
  }
  .py-10 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .w-full {
    width: 50%;
  }
}

@media (min-width: 1281px) {
  .kiki {
    flex-direction: row;
  }
  .bg-white {
    padding: 1;
  }
  .lg:h-20 {
    height: 24px;
  }
  .text-base {
    font-size: 18px;
  }
  .py-10 {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .w-full {
    width: 100%;
  }
}
